apiVersion: v1
kind: Service
metadata:
    name: rabbit-svc
    namespace: default
    labels:
        app: rabbitmq
spec:
    selector:
        app: rabbitmq
    type: ClusterIP
    ports:
        - name: rabbit-port
          protocol: TCP
          port: 5672
          targetPort: amqp-port