apiVersion: v1
kind: ConfigMap
metadata:
    name: rabbit-cm
    namespace: default
    labels:
        app: rabbitmq
data:
    rabbit.conf: |
        # File that configures rabbitmq to use /etc/rabbitmq/definitions.json as the file to create
        # exchange, queue and user at node start up
        definitions.import_backend = local_filesystem
        definitions.local.path = /etc/rabbitmq/definitions.json

        default_user = 'admin'
        default_pass = 'admin'

    rabbit.definitions: |
        {
            "users": [
                {
                    "name": "app",
                    "password": "app",
                    "tags": ""
                },
                {
                    "name": "admin",
                    "password": "admin",
                    "tags": "administrator"
                }
            ],
            "vhosts": [
                {
                    "name": "/"
                },
                {
                    "name": "service"
                }
            ],
            "permissions": [
                {
                    "user": "admin",
                    "vhost": "service",
                    "configure": ".*",
                    "write": ".*",
                    "read": ".*"
                },
                {
                    "user": "app",
                    "vhost": "service",
                    "configure": "app.*",
                    "write": "app.*",
                    "read": "app.*"
                }
            ],
            "queues": [
                {
                    "name": "app.queue",
                    "vhost": "service",
                    "durable": true,
                    "auto_delete": false,
                    "arguments": {}
                }
            ],
            "exchanges": [
                {
                    "name": "app.exchange",
                    "vhost": "service",
                    "type": "topic",
                    "durable": true,
                    "auto_delete": false,
                    "internal": false,
                    "arguments": {}
                }
            ],
            "bindings": [
                {
                    "source": "app.exchange",
                    "vhost": "service",
                    "destination": "app.queue",
                    "destination_type": "queue",
                    "routing_key": "#",
                    "arguments": {}
                }
            ]
        }
